<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- See "<ROOT>\MKY\MKY\Configuration\Provider.cs" for general information on test configuration. -->
  <!-- See "<ROOT>\MKY\MKY.IO.Ports.Test\Configuration.cs" for available test configuration for this assembly. -->
  <configSections>
    <sectionGroup name="MKY.IO.Ports.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
    </sectionGroup>
    <sectionGroup name="MKY.IO.Ports.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Template" type="MKY.IO.Ports.Test.ConfigurationSection, MKY.IO.Ports.Test" />
    </sectionGroup>
  </configSections>
  <MKY.IO.Ports.Test.Configuration>
    <Selection SelectedConfigurationName="Template" />
  </MKY.IO.Ports.Test.Configuration>
  <MKY.IO.Ports.Test.Configuration.Sections>
    <Template PortA="COM1" PortB="COM2" MTSicsDeviceA="COM11" MTSicsDeviceB="COM12"
      TILaunchPadDeviceA="COM21" TILaunchPadDeviceB="COM22">
      <LoopbackPairs>
        <clear />
        <add PortA="COM1" PortB="COM2" />
      </LoopbackPairs>
      <LoopbackSelfs>
        <clear />
        <add Port="COM3" />
      </LoopbackSelfs>
    </Template>
  </MKY.IO.Ports.Test.Configuration.Sections>
</configuration>