<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Template" type="MKY.IO.Usb.Test.ConfigurationSection, MKY.IO.Usb.Test" />
        </sectionGroup>
    </configSections>
    <MKY.IO.Usb.Test.Configuration>
        <Selection SelectedConfigurationName="Template" />
    </MKY.IO.Usb.Test.Configuration>
    <MKY.IO.Usb.Test.Configuration.Sections>
        <Template DeviceA="VID:0ABC PID:1234 SNR:XYZ" DeviceB="VID:0ABC PID:1234 SNR:XYZ"
            MTSicsDeviceA="VID:0ABC PID:1234 SNR:XYZ" MTSicsDeviceB="VID:0ABC PID:1234 SNR:XYZ"
            TILaunchPadDeviceA="VID:0ABC PID:1234 SNR:XYZ" TILaunchPadDeviceB="VID:0ABC PID:1234 SNR:XYZ" />
    </MKY.IO.Usb.Test.Configuration.Sections>
</configuration>