<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MKY.IO.Ports.Test.Settings">
      <section name="Selection" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="MKY.IO.Ports.Test.Settings.Configurations">
      <section name="NoDevices" type="System.Configuration.NameValueSectionHandler"/>
      <section name="UsingPhysicalDevices" type="System.Configuration.NameValueSectionHandler"/>
      <section name="UsingVSPE" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="MKY.IO.Usb.Test.Settings">
      <section name="Selection" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="MKY.IO.Usb.Test.Settings.Configurations">
      <section name="NoDevices" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  
  <MKY.IO.Ports.Test.Settings>
    <Selection>
      <add key="SelectedConfigurationName" value="NoDevices" />
    </Selection>
  </MKY.IO.Ports.Test.Settings>
  <MKY.IO.Ports.Test.Settings.Configurations>
    <NoDevices>
      <add key="SerialPortAIsAvailable" value="False" />
      <add key="SerialPortBIsAvailable" value="False" />
      <add key="SerialPortA" value="COM1" />
      <add key="SerialPortB" value="COM2" />
      <add key="SerialPortsAreInterconnected" value="False" />
    </NoDevices>
    <UsingPhysicalDevices>
      <add key="SerialPortAIsAvailable" value="True" />
      <add key="SerialPortBIsAvailable" value="True" />
      <add key="SerialPortA" value="COM1" />
      <add key="SerialPortB" value="COM2" />
      <add key="SerialPortsAreInterconnected" value="True" />
    </UsingPhysicalDevices>
    <UsingVSPE>
      <add key="SerialPortAIsAvailable" value="True" />
      <add key="SerialPortBIsAvailable" value="True" />
      <add key="SerialPortA" value="COM1" />
      <add key="SerialPortB" value="COM2" />
      <add key="SerialPortsAreInterconnected" value="True" />
    </UsingVSPE>
  </MKY.IO.Ports.Test.Settings.Configurations>
  
  <MKY.IO.Usb.Test.Settings>
    <Selection>
      <add key="SelectedConfigurationName" value="NoDevices" />
    </Selection>
  </MKY.IO.Usb.Test.Settings>
  <MKY.IO.Usb.Test.Settings.Configurations>
    <NoDevices>
      <add key="SerialHidDeviceAIsAvailable" value="False" />
      <add key="SerialHidDeviceBIsAvailable" value="False" />
      <add key="SerialHidDeviceA" value="VID:0ABC PID:1234" />
      <add key="SerialHidDeviceB" value="VID:0ABC PID:1234" />
    </NoDevices>
  </MKY.IO.Usb.Test.Settings.Configurations>
</configuration>