<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="MKY.IO.Ports.Test.Settings" type="System.Configuration.ConfigurationSectionGroup">
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Ports.Test.Settings.Configurations" type="System.Configuration.ConfigurationSectionGroup">
            <section name="UsingPhysicalDevices" type="MKY.IO.Ports.Test.SettingsSection, MKY.IO.Ports.Test" />
        </sectionGroup>
    </configSections>
    <MKY.IO.Ports.Test.Settings>
        <Selection SelectedConfigurationName="UsingPhysicalDevices" />
    </MKY.IO.Ports.Test.Settings>
    <MKY.IO.Ports.Test.Settings.Configurations>
        <UsingPhysicalDevices SerialPortAIsAvailable="true" SerialPortBIsAvailable="true"
            SerialPortA="COM1" SerialPortB="COM2" SerialPortsAreInterconnected="true" />
    </MKY.IO.Ports.Test.Settings.Configurations>
</configuration>