<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="MKY.IO.Ports.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Ports.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="NoDevices" type="MKY.IO.Ports.Test.ConfigurationSection, MKY.IO.Ports.Test" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="NoDevices" type="MKY.IO.Usb.Test.ConfigurationSection, MKY.IO.Usb.Test" />
        </sectionGroup>
        <sectionGroup name="MKY.Net.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.Net.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="NoDevices" type="MKY.Net.Test.ConfigurationSection, MKY.Net.Test" />
        </sectionGroup>
    </configSections>
    <MKY.IO.Ports.Test.Configuration>
        <Selection SelectedConfigurationName="" />
    </MKY.IO.Ports.Test.Configuration>
    <MKY.IO.Ports.Test.Configuration.Sections>
        <NoDevices SerialPortAIsAvailable="false" SerialPortBIsAvailable="false"
            SerialPortCIsAvailable="false" SerialPortDIsAvailable="false"
            SerialPortEIsAvailable="false" SerialPortFIsAvailable="false"
            SerialPortA="COM1" SerialPortB="COM2" SerialPortC="COM11"
            SerialPortD="COM12" SerialPortE="COM21" SerialPortF="COM22"
            SerialPortsAreInterconnected="false" MTSicsDeviceAIsConnected="false"
            MTSicsDeviceBIsConnected="false" MTSicsDeviceA="COM11" MTSicsDeviceB="COM12" />
    </MKY.IO.Ports.Test.Configuration.Sections>
    <MKY.IO.Usb.Test.Configuration>
        <Selection SelectedConfigurationName="" />
    </MKY.IO.Usb.Test.Configuration>
    <MKY.IO.Usb.Test.Configuration.Sections>
        <NoDevices SerialHidDeviceAIsAvailable="false" SerialHidDeviceBIsAvailable="false"
            SerialHidDeviceA="VID:0ABC PID:1234" SerialHidDeviceB="VID:0ABC PID:1234" />
    </MKY.IO.Usb.Test.Configuration.Sections>
    <MKY.Net.Test.Configuration>
        <Selection SelectedConfigurationName="" />
    </MKY.Net.Test.Configuration>
    <MKY.Net.Test.Configuration.Sections>
        <NoDevices SpecificIPv4InterfaceIsAvailable="false" SpecificIPv6InterfaceIsAvailable="false"
            SpecificIPv4Interface="TAP-Win32 Adapter" SpecificIPv6Interface="TAP-Win32 Adapter" />
    </MKY.Net.Test.Configuration.Sections>
</configuration>