<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- See "<ROOT>\MKY\MKY\Configuration\Provider.cs" for general information on test configuration and available configuration settings. -->
  <configSections>
    <sectionGroup name="MKY.IO.Ports.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
    </sectionGroup>
    <sectionGroup name="MKY.IO.Ports.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="NoDevices" type="MKY.IO.Ports.Test.ConfigurationSection, MKY.IO.Ports.Test" />
      <section name="UsingVirtualDevices" type="MKY.IO.Ports.Test.ConfigurationSection, MKY.IO.Ports.Test" />
    </sectionGroup>
    <sectionGroup name="MKY.IO.Usb.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
    </sectionGroup>
    <sectionGroup name="MKY.IO.Usb.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="NoDevices" type="MKY.IO.Usb.Test.ConfigurationSection, MKY.IO.Usb.Test" />
    </sectionGroup>
    <sectionGroup name="MKY.Net.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
    </sectionGroup>
    <sectionGroup name="MKY.Net.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="NoDevices" type="MKY.Net.Test.ConfigurationSection, MKY.Net.Test" />
      <section name="UsingVirtualDevices" type="MKY.Net.Test.ConfigurationSection, MKY.Net.Test" />
    </sectionGroup>
    <sectionGroup name="MKY.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
    </sectionGroup>
    <sectionGroup name="MKY.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="NoDevices" type="MKY.Test.ConfigurationSection, MKY.Test" />
    </sectionGroup>
  </configSections>
  <MKY.IO.Ports.Test.Configuration>
    <Selection SelectedConfigurationName="UsingVirtualDevices" />
  </MKY.IO.Ports.Test.Configuration>
  <MKY.IO.Ports.Test.Configuration.Sections>
    <NoDevices />
    <UsingVirtualDevices PortA="COM101" PortB="COM102">
      <LoopbackPairs>
        <clear />
        <add PortA="COM101" PortB="COM102" />
      </LoopbackPairs>
    </UsingVirtualDevices>
  </MKY.IO.Ports.Test.Configuration.Sections>
  <MKY.IO.Usb.Test.Configuration>
    <Selection SelectedConfigurationName="NoDevices" />
  </MKY.IO.Usb.Test.Configuration>
  <MKY.IO.Usb.Test.Configuration.Sections>
    <NoDevices />
  </MKY.IO.Usb.Test.Configuration.Sections>
  <MKY.Net.Test.Configuration>
    <Selection SelectedConfigurationName="NoDevices" />
  </MKY.Net.Test.Configuration>
  <MKY.Net.Test.Configuration.Sections>
    <NoDevices />
    <UsingVirtualDevices IPv4SpecificInterface="OpenVPN Virtual Ethernet Adapter" IPv6SpecificInterface="OpenVPN Virtual Ethernet Adapter"
      MTSicsDeviceTcpPort="44400" /> <!-- Do not use "TAP-Win32 Adapter" as that would lead to an exception in NUnit in case the adapter is not available! Background: '-' is an invalid character for an NUnit category, which will get generated in case the adapter is not available. -->
  </MKY.Net.Test.Configuration.Sections>
  <MKY.Test.Configuration>
    <Selection SelectedConfigurationName="NoDevices" />
  </MKY.Test.Configuration>
  <MKY.Test.Configuration.Sections>
    <NoDevices />
  </MKY.Test.Configuration.Sections>
</configuration>