<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="MKY.IO.Usb.Test.Settings" type="System.Configuration.ConfigurationSectionGroup">
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Usb.Test.Settings.Configurations" type="System.Configuration.ConfigurationSectionGroup">
            <section name="UsingPhysicalDevices" type="MKY.IO.Usb.Test.SettingsSection, MKY.IO.Usb.Test" />
        </sectionGroup>
    </configSections>
    <MKY.IO.Usb.Test.Settings>
        <Selection SelectedConfigurationName="UsingPhysicalDevices" />
    </MKY.IO.Usb.Test.Settings>
    <MKY.IO.Usb.Test.Settings.Configurations>
        <UsingPhysicalDevices SerialHidDeviceAIsAvailable="true" SerialHidDeviceBIsAvailable="true"
            SerialHidDeviceA="VID:0EB8 PID:2200" SerialHidDeviceB="VID:0EB8 PID:2200" />
    </MKY.IO.Usb.Test.Settings.Configurations>
</configuration>