<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="MKY.Net.Test.Settings" type="System.Configuration.ConfigurationSectionGroup">
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
    </configSections>
    <MKY.Net.Test.Settings>
        <Selection SelectedConfigurationName="UsingTAP-Win32" />
    </MKY.Net.Test.Settings>
</configuration>