<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup, System.Configuration" >
            <section name="Template" type="MKY.IO.Usb.Test.ConfigurationSection, MKY.IO.Usb.Test" />
        </sectionGroup>
    </configSections>
    <MKY.IO.Usb.Test.Configuration>
        <Selection SelectedConfigurationName="Template" />
    </MKY.IO.Usb.Test.Configuration>
    <MKY.IO.Usb.Test.Configuration.Sections>
        <Template DeviceA="VID:0ABC PID:1234" DeviceB="VID:0ABC PID:1234"
            MTSicsDeviceA="VID:0ABC PID:1234" MTSicsDeviceB="VID:0ABC PID:1234"
            TILaunchPadDeviceA="VID:0ABC PID:1234" TILaunchPadDeviceB="VID:0ABC PID:1234" />
    </MKY.IO.Usb.Test.Configuration.Sections>
</configuration>