<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- See "<ROOT>\MKY\MKY\Configuration\Provider.cs" for general information on test configuration. -->
  <!-- See "<ROOT>\MKY\MKY.Test\Configuration.cs" for available test configuration for this assembly. -->
  <configSections>
    <sectionGroup name="MKY.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
    </sectionGroup>
    <sectionGroup name="MKY.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
      <section name="Template" type="MKY.Test.ConfigurationSection, MKY.Test" />
    </sectionGroup>
  </configSections>
  <MKY.Test.Configuration>
    <Selection SelectedConfigurationName="Template" />
  </MKY.Test.Configuration>
  <MKY.Test.Configuration.Sections>
    <Template USBHub1="ABCD1234" USBHub2="ABCD1234" />
  </MKY.Test.Configuration.Sections>
</configuration>