<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="MKY.IO.Ports.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Ports.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Template" type="MKY.IO.Ports.Test.ConfigurationSection, MKY.IO.Ports.Test" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.IO.Usb.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Template" type="MKY.IO.Usb.Test.ConfigurationSection, MKY.IO.Usb.Test" />
        </sectionGroup>
        <sectionGroup name="MKY.Net.Test.Configuration" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Selection" type="MKY.Configuration.SelectionSection, MKY" />
        </sectionGroup>
        <sectionGroup name="MKY.Net.Test.Configuration.Sections" type="System.Configuration.ConfigurationSectionGroup" > <!-- Do not add assembly "System.Configuration" as this results in TypeLoadException! -->
            <section name="Template" type="MKY.Net.Test.ConfigurationSection, MKY.Net.Test" />
        </sectionGroup>
    </configSections>
    <MKY.IO.Ports.Test.Configuration>
        <Selection SelectedConfigurationName="Template" />
    </MKY.IO.Ports.Test.Configuration>
    <MKY.IO.Ports.Test.Configuration.Sections>
        <Template PortA="COM1" PortB="COM2" MTSicsDeviceA="COM14" MTSicsDeviceB="COM43"
            TILaunchPadDeviceA="COM51" TILaunchPadDeviceB="COM52">
            <LoopbackPairs>
                <clear />
                <add PortA="COM1" PortB="COM2" />
                <add PortA="COM11" PortB="COM12" />
                <add PortA="COM21" PortB="COM22" />
                <add PortA="COM31" PortB="COM32" />
            </LoopbackPairs>
            <LoopbackSelfs>
                <clear />
                <add Port="COM13" />
                <add Port="COM23" />
            </LoopbackSelfs>
        </Template>
    </MKY.IO.Ports.Test.Configuration.Sections>
    <MKY.IO.Usb.Test.Configuration>
        <Selection SelectedConfigurationName="Template" />
    </MKY.IO.Usb.Test.Configuration>
    <MKY.IO.Usb.Test.Configuration.Sections>
        <Template DeviceA="VID:0ABC PID:1234 SNR:12345678A" DeviceB="VID:0ABC PID:1234 SNR:12345678B"
            MTSicsDeviceA="VID:0EB8 PID:2303 SNR:12345678A" MTSicsDeviceB="VID:0EB8 PID:2303 SNR:12345678B"
            TILaunchPadDeviceA="VID:2047 PID:0404 SNR:12345678A" TILaunchPadDeviceB="VID:2047 PID:0404 SNR:12345678B" />
    </MKY.IO.Usb.Test.Configuration.Sections>
    <MKY.Net.Test.Configuration>
        <Selection SelectedConfigurationName="Template" />
    </MKY.Net.Test.Configuration>
    <MKY.Net.Test.Configuration.Sections>
        <Template IPv4SpecificInterface="OpenVPN Virtual Ethernet Adapter" IPv6SpecificInterface="OpenVPN Virtual Ethernet Adapter"
            MTSicsDeviceTcpPort="44400" /> <!-- Do not use "TAP-Win32 Adapter" as that would lead to an exception in NUnit in case the adapter is not available! Background: '-' is an invalid character for an NUnit category, which will get generated in case the adapter is not available. -->
    </MKY.Net.Test.Configuration.Sections>
</configuration>